.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
}

.element-form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

input[type="text"].error {
  border: 1px solid red;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

input[type="date"].error {
  border: 1px solid red;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 5px;
}

button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: smaller;
  margin-top: 5px;
}

/* Popup container - can be any element */
.popup {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Popup content */
.popup-content {
  position: relative;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Close button hover effect */
.close-btn:hover,
.close-btn:focus {
  color: red;
}

