<div class="table-container">
    <div *ngIf="isLoading">
        <app-skeleton></app-skeleton>
    </div>
    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Nombre del producto</th>
                <th>Descripción</th>
                <th>Fecha de liberación</th>
                <th>Fecha de reestructuración</th>
            </tr>
        </thead>
        <tbody *ngIf="productos.length > 0">
            <tr *ngFor="let producto of productos">
                <td><img src="assets/{{ producto.logo }}" alt="Producto Logo"></td>
                <td>{{ producto.name }}</td>
                <td>{{ producto.description }}</td>
                <td>{{ producto.date_release }}</td>
                <td>{{ producto.date_revision }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="productos.length === 0">
            <tr>
                <td colspan="5">No hay datos disponibles</td>
            </tr>
        </tbody>
    </table>
    <app-pagination [totalItems]="totalItems"></app-pagination>
</div>
